body {
     background-image: url(DylansWebsiteBackground.JPG); 
     background-position: center center;
  
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
    }
  h1 {
      color: black;
      text-allign: center;
    }
    
  p {
      font-family: verdana;
      font-size: 20 px;
    }
}
