body {
  background-image: url(../img/Dylan Website background.jpg) no-repeat center center;
  background-size: cover;  
  background-position: center center;
    width: 100%;
    height: 100%;
  background-color: red;
  }
  
  h1 {
      color: black;
      text-allign: center;
    }
    
  p {
      font-family: verdana;
      font-size: 20 px;
    }
}
